<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @fund.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fund.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @fund.user %>
</p>

<p>
  <strong>Date Entry:</strong>
  <%= @fund.date_entry %>
</p>

<%= link_to 'Edit', edit_fund_path(@fund) %> |
<%= link_to 'Back', funds_path %>
